
body {
    margin: 0;
}

#root {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div {
    box-sizing: border-box;
    position: relative;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.page {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    break-inside: avoid;
}

div.page-break {
    break-before: page;
    break-after: page;
    float: none;
}

.char {
    border: 1px solid #aaa;
    width: 120px;
    height: 120px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-top: -1px;
}

.red {
    color: red;
}

.char > div {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.char1 {
    font-family: "Microsoft YaHei UI";
    font-size: 38px;
}

.char2 {
    font-family: "于洪亮钢笔楷书简体（正式版）";
    font-size: 42px;
}

.char3 {
    font-family: NSimSun;
    font-size: 42px;
}

.char4 {
    font-family: "特太行書", "Aa马上行楷（简繁）",JBHGXK;

    font-size: 42px;
}

@media print {


    .header {
        display: none;
    }
}